body { 
    background: red;
    background-image: linear-gradient(red, rgb(177, 87, 87));
}

#break {
    border-style: solid;
    border-color: black;
}

#reel {
    width: 100%;
    height: 300px;
}

h2 {
    font-family: 'Gugi', cursive;
}

h3 {
    font-family: 'Gugi', cursive;
}

.form-control {
    width: 50%;
}