body {
    background-image: linear-gradient(red, rgb(177, 87, 87));
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Gugi', cursive;
}

h3 {
    text-align: center;
    font-family: 'Gugi', cursive;
}

#box {
    border: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    height: 300px;
    font-family: 'Gugi', cursive;
    background: seashell;
}

#text {
    padding: 100px 15px 0 15px;
}

button {
    position: relative;
    left: 700px;
}

a:link {
  position: relative;
  left: 200px;
  color: darkblue;
}

